<div class='footer'>
  <div class='row'>
    <div class='column-1'>
      <h4>Perguntas Frequentes</h4>
      <ul>
        <p><li> <%= link_to 'Quem Somos?', root_path %></li></p>
        <p><li> <%= link_to 'Perguntas Frequentes?', root_path %></li></p>
        <p><li> <%= link_to 'Atendimento', root_path %></li></p>
      </ul>
    </div>
    <div class='column-2'>
      <h4>Siga a Leafs nas redes sociais</h4>
        <a class='fontawesome' href="#"><i class="fab fa-facebook-square"></i></a>
        <a class='fontawesome' href="#"><i class="fab fa-instagram-square"></i></a>
        <a class='fontawesome' href="#"><i class="fab fa-twitter-square"></i></a>
        <a class='fontawesome' href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class='row'>
  </div>
</div>