<div class="footer bottom-container d-flex justify-content-center pt-3 mt-auto py-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="perg-frequentes">
          <div class="perg-fre py-2">
            <h4>Perguntas Frequentes</h4>
              <div class="questions">
                <p class="title"><i class="fas fa-angle-right"></i> Como o Leafs funciona?</p>
                <p class="title"><i class="fas fa-angle-right"></i> <%= link_to "Companies", companies_path %> </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 pt-3">
        <p class="title"><i class="fas fa-angle-right"></i> <%= link_to "Drop Off Places", dropoffs_path %> </p>
        <p class="title"><i class="fas fa-angle-right"></i> <%= link_to "Coupons", companies_path(@company) %> </p>
      </div>
      <div class="col-md-4 mt-2">
        <div class="icons-block">
          <h4>Siga a Leafs nas redes sociais</h4>
          <div class="icons">
            <a class="fontawesome" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="fontawesome" href="#"><i class="fab fa-instagram-square"></i></a>
            <a class="fontawesome" href="#"><i class="fab fa-twitter-square"></i></a>
            <a class="fontawesome" href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--BLOCO 2 COM O FOOTER-->
<div>
  <div class="copyright">
    <span>
      Todos os direitos reservados - 2021 - "Leafs - Keep <strong>Green</strong>!"
      <a class="termo" href="#" alt="Termo de Uso">Termo de Uso</a>
      |
      <a class="termo" href="#" alt="Política de Uso">Política de Uso</a>
    </span>
  </div>
</div>
