<div class='card-company'>
  <h2>Meus Leafs</h2>


  <% @leafs.each do |leaf| %>
  <div>
      <%= link_to leaf_path(leaf.id) do %>
      <p>Leafs creditados: <%= leaf.credit %> em <%= leaf.created_at.strftime('%d/%m/%Y')
  %></p> 
      <% end %>
    </div>
  <%end%>

  <%= link_to "Novo Leaf", new_leaf_path %>
</div>