<div class='container my-5'>
  <div class='row'>
      <p><% @companies.each do |company| %>
    <div class=" col-lg-3  col-md-6 col-sm-6 mb-5">
      <div class="card-companies">
          <%= link_to company_path(company) do %>
            <%= image_tag "#{company.logo}", size: "160x160" %>
            <br>
            <%= link_to 'Coupons', company_path(company), class: 'button-green' %>
          <% end %>
      </div>
    </div>
        <%end%>
      </p>


  </div>
</div>