<h2>Cupons de Desconto <%= @company.name %></h2>

<div class="container text-center">
  <div class="card-company mt-5">
    <%= image_tag "#{@company.logo}", size: "250x250" %>
    <ul class='ul-company'>
      <li class='li-company d-flex justify-content-between'>
        <span class="cupom-sim"><i class="fas fa-ticket-alt"></i></span>
        <span class="desconto">
          <% @coupons.each do |coupon| %>
          <div>
            <%= coupon.discount %>
            <span class="cupom"><%= coupon.code %></span>
          <%end%>
          </div>
        </span>
        <span class="cupom"></span>
      </li>
    </ul>
  </div>
</div>
