<div class="container">
  <div class="card-company mt-5">
    <%= image_tag "#{@company.logo}", size: "300x300" %>
    <div class="d-flex justify-content-center">
      <table class="content-table">
        <thead>
            <tr>
            </tr>
        </thead>
        <% @coupons.each do |coupon| %>
        <tbody>
          <tr>
            <td><span class="mb-5"><%= coupon.discount %></span></td>
            <td><span class="cupom"><strong><i class="fas fa-ticket-alt"></i><%= coupon.code %></strong></span></td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
  </div>
</div>

