<div class="container" style="text-align: center; margin-top:4px;">
  <h5 style="font-size: 18px; font-family: 'Roboto Slab', serif; text-decoration: none"><i class="fas fa-dumpster"></i> <%= dropoff.name %></h5>
  <p style="font-size: 12px; font-family: 'Noto Sans JP', sans-serif; text-decoration: none" ><%= dropoff.address %></p>
</div>
