.button-green {
  color: white;
  padding: 8px 24px;
  background: #1EDD88;
  border-radius: 50px;
  transition: background 0.3s ease;
}

.button-green:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}