
.card-companies{
  box-shadow: 0 15px 30px -10px rgb(224, 224, 224);
  align-items: center;
  text-align: center;
  background: white;
  padding: 16px 22px 30px 22px;
  border-radius: 8px;
  transition: 0.5s;
}

.card-companies:hover{
  box-shadow: 0 20px 40px -10px rgb(238, 238, 238);
  transform: translatey(-6px);
}

.card-company{
  box-shadow: 0 15px 30px -10px rgb(224, 224, 224);
  align-items: center;
  text-align: center;
  background: white;
  padding: 16px 22px 30px 22px;
  border-radius: 8px;
  transition: 0.5s;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}


/*----------------------cards recycle/ new leafs ---------------*/


.items-form input{
  border-style: none none solid none;
}

.table-leafs {
  box-shadow: 4px 7px 14px 2px rgba(0,0,0,0.19);
  margin: 0 auto;
}


.recycle {
  border-radius: 5%;
  opacity: 0.9;
  width: 100%;
}


.title-leaf {
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size: 17px;
}

.leaf-qtdd {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.green{
  color: #7CBF17;
}


