
.footer{
  background-color: #FFFFFF;
  padding: 0px 150px 0px 150px;
  margin-top: 35px;
}

.icons-block{
  background-color: #FFFFFF;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.fontawesome{
  color: rgba($color: #505050, $alpha: 0.6);
  font-size: 28px;
  padding: 0px 10px;
  text-decoration: none;
  text-align: center;
}

.fontawesome:hover{
  color: rgba($color: #1b1b1b, $alpha: 0.6);
}


h4{
  color: rgba($color: #000000, $alpha: 0.6);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto Slab';
}

.title-footer{
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

.copyright strong{
  color:#2C8109
}

.copyright .fa-heart {
  color: #D23333;
}

.copyright{
  background-color:#FFFFFF;
  display: block;
  font-size: 14px;
  text-align: center;
  color: rgb(59, 59, 59);
  text-decoration: none;
  font-weight: bold;
  background: #f3f3f3;
  span {
    font-family: 'Noto Sans JP', sans-serif;
  };
}
.termo{
  color: rgb(59, 59, 59);
  text-decoration: none;
}

a{
  text-decoration: none;
  color: rgb(59, 59, 59);
}

