
.footer{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 150px 0px 150px;
}

.row{
  justify-content: center;
  align-content: center;
}

.column-1{
  background-color: #FFFFFF;
  width: 700px;
}

.column-2{
  background-color: #FFFFFF;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.fontawesome{
  color: rgba($color: #000000, $alpha: 0.6);
  font-size: 30px;
  padding: 0px 10px;
  text-decoration: none;
  text-align: center;
}

.hover{
  color: rgba($color: #000000, $alpha: 0.3);
}

h4{
  color: rgba($color: #000000, $alpha: 0.6);
  font-weight: bold;
  font-size: 20px;
}
.title{
 
  font-size: 16px;
}

.text{
  font-size: 15px;
}

strong{
  color:#2C8109
}

.copyright{
  display: block;
  font-size: 14px;
  text-align: center;
  color: rgb(59, 59, 59);
  text-decoration: none;
  font-weight: bold;
}
.termo{
  color: rgb(59, 59, 59);
  text-decoration: none;
}
