// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "button";
@import "banner";
@import "list";
@import "footer";
@import "table";
@import "information";
@import "map";
@import "profile";
// import da fonte 
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');



