body {
  padding-top: 70px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar-lewagon {
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
  margin-left: 20px;
}

.nav-item i {
  color: #2C8109;
}

