.profile-column h4{
  font-size: 24px;
  color: rgba($color: #5c5b5b, $alpha: 1.0);
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

.profile-column a{
  font-size: 18px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'EB Garamond', serif;
  transition: 0.1s;
}

.profile-column a:hover{
  color: rgba(255, 255, 255, 0.9);

}

.profile-column p{
  font-size: 18px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'EB Garamond', serif;
}

.profile-column i{
  color: #7CBF17;
}

.user-balance p{
  font-size: 18px;
  font-family: 'EB Garamond', serif;
}

.success {
  color: #2C8109;
}

.danger {
  color: #F44B4E;
}